<div class="wrapper">
  <div class="page-header page-header-medium">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/matia-island.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Looking For a Developer?</h1>
        <h3>My name is John, and I'd love to help.</h3>
        <p><a href="#email-contact-form" class="btn btn-primary btn-round btn-lg email-contact-button" id="email-contact-button">Get In Touch!</a></p>
        <p><a href="/resume" class="btn btn-info btn-round btn-lg">Resume / CV</a></p>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">About Me</h2>
          <%= render 'social' %>
          <br>
          <h5 class="description">My name is John Lucia. I have 10 years of experience building websites and web applications. I can help you with building a new site, upgrading an old one, or a custom software application. I split my time between Bend, Oregon and the Pacific Coast of Mexico.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="content-center">
            <%# <p><a href="/resume" class="btn btn-primary btn-round btn-lg">Resume / CV</a></p> %>
          </div>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left" style="background-image: url('/assets/img/honeymooncove.jpg')">
            </div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right" style="background-image: url('/assets/img/jaque.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h2 class="title" id="technical-skills">Technical</h2>
          <h5 class="description">I'm a full stack developer that deals with all aspects of web development. For quality and efficiency I generally work with well established frameworks like Ruby on Rails, Bootstrap, Materialize, jQuery, and EmberJs. For a more complete run down of my technical skills and accomplishments, please see my <a href="/resume">Resume Page</a>.</h5>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">What I Can Do For You</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img src="/assets/img/websites.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Websites</h4>
              <p class="category text-primary">Design, Development, Hosting</p>
              <p class="description">For quick turnaround or a limited budget choose a ready made theme or template. Or, I work with some great designers in Bend, Oregon in case you're looking for something fully custom.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="/assets/img/software.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">3rd Party Integrations</h4>
              <p class="category text-primary">Social Media, Maps, Inventory</p>
              <p class="description">Display real-time inventory for your goods or services, set up a shopping cart, or just import content from social media sources like Facebook, Instagram, or Twitter. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="/assets/img/integrations.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Mobile Apps</h4>
              <p class="category text-primary">Development & Maintenance</p>
              <p class="description">Custom mobile applications for iOS and Android devices, built using the React-Native framework.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'form' %>
  <footer class="footer footer-default">
    <div class="container">
    </div>
  </footer>
</div>