<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Got One!</h1>
    <p>Name: <%= @lead.name %></p>
    <p>Email: <%= @lead.email %></p>
    <p>Message: <%= @lead.message %></p>
  </body>
</html>